[data-mantine-color-scheme="dark"] {
  --mantine-color-body: #101116 !important;
}

[data-mantine-color-scheme="light"] {
  --mantine-color-body: #ffffff; // or whatever your light background should be
}

.highlight {
  color: red;
  font-weight: bold;
}
